@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #001220;
}

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #12456f70; 
    border-radius:10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #11426a; 
    border-radius:10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #07365b; 
    cursor:grabbing;
  }